.card {
  display: flex;
  flex-direction: column;
  background-color: #1f1f24;
  height: 45vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.table {
  flex: 1;
  border-spacing: 0 15px;
}

/* Header table */
.table > thead > tr > th {
  color: #a2a2a2;
  background-color: #17191f;
  font-weight: 400;
  padding: 8px 16px;
  text-align: left;
  position: sticky;
  top: 0;
}


/* Cell in a row */
.table > tbody > tr > td {
  color: #d5d5d5;
  padding: 4px 16px;
  text-align: left;
  font-weight: 300;
  background-color: #17191f;
  cursor: pointer;
}

.table > tbody > tr > td:first-child {
  border-left: 2px solid #24AF65;
}