.card {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  border: 1px solid #505050;
  border-radius: 5px;
  height: 45vh;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  margin-top: 1rem;
  margin-left: 1rem;
}

.table {
  flex: 1;
  border-spacing: 0;
}

.table > thead > tr > th {
  color: #f3f5fd;
  border-bottom: 1px solid #505050;
  background-color: #474c56;
  font-weight: 400;
  padding: 8px 16px;
  text-align: left;
  position: sticky;
  top: 0;
}

.table > tbody > tr > td {
  border: 1px solid #505050;
  padding: 8px 16px;
  text-align: left;
  font-weight: 300;
}

/* Hover effect on tr */
.table > tbody > tr:hover {
  background-color: #252525;
  cursor: pointer;
}

/* Table borders radius */
.table > tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 5px;
}

.table > tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 5px;
}