.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.upperCards {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1280px) {
  .main {
    padding: 5px;
  }
  .upperCards {
    flex-direction: column;
  }
}