.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #17191F;
  height: 400px;
  min-width: 550px;
  margin: 5px 5px 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #505050;
  padding: 1rem;
  background: #1f1f24;
}

.title > h1 {
  margin: 0;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.table {
  flex: 1;
  border-spacing: 0 15px;
}

/* Header table */
.table > thead > tr > th {
  color: #a2a2a2;
  background-color: #17191f;
  font-weight: 400;
  padding: 8px 16px;
  text-align: left;
  position: sticky;
  top: 0;
  white-space: nowrap;
}


/* Cell in a row */
.table > tbody > tr > td {
  color: #d5d5d5;
  padding: 4px 16px;
  text-align: left;
  font-weight: 300;
  background-color: #17191f;
  white-space: nowrap;
}

.table > tbody > tr > td:first-child {
  border-left: 2px solid #afad24;
}