.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #17191F;
  height: 400px;
  min-width: 550px;
  margin: 5px 5px 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #505050;
  padding: 1rem;
  background: #1f1f24;
}

.title > h1 {
  margin: 0;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.plot {
  width: 100%;
  height: 100%;
}